body {
    background-image: url("https://images.unsplash.com/photo-1504177847824-d075f5706770?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGdhbWV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: right bottom;
    background-color: #185ADB;
    font-family: "Montserrat", sans-serif;
}

.container {
    background-color: rgb(240, 240, 240);
    border: 3px solid white;
    border-radius: 10px;
    width: 30%;
    padding: 20px;
    margin-top: 100px;
}

h3 {
    font-size: 20px;
}

#guess {
    padding: 10px;
    width: 40%;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    border: none;
}

#btn {
    font-family: "Montserrat", sans-serif;
    background-color: #185ADB;
    font-size: 15px;
    color: #ffffff;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
}